/* Product page styles */

.product {

}
.product .container {
	position: relative;
	max-width: 960px;	
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}
.product #feature {
	position: relative;
}
#collection #logo h1 {
	margin: 0;
}
#collection #logo a {
	position: absolute;
	text-indent: -999em;
	overflow: hidden;
	z-index: 2;
}
.product #feature .image {
	display: none;
}
.product #feature .productShot {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.product #feature .productShot img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.product #feature .productShot .title {
	font-size: 29px;
	line-height: 27px;
	letter-spacing: 0.03em;
	margin: 0;
}
.product #feature .productShot .subTitle {
	font-size: 16px;
	line-height: 27px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin: 0;
}
.product #feature .productShot .description {
	font-size: 16px;
	line-height: 27px;
	margin: 0;
}

@media only screen and (min-width: 480px) {
	.product #logo a {
		top: 50%;
		left: 45px;
		width: 93px;
		height: 134px;
		margin-top: -67px;
		background-image: url(../img/logo-desktop.png);
		background-size: inherit;
	}
}
@media only screen and (min-width: 768px) {
	
}
@media only screen and (min-width: 1024px) {
	
}