/* Collection page styles */

.main_navigation .menu-item a {
	color: #000;
}
.main_navigation .menu-item a:hover {
	border-color: #000;
}
#collection .billboard {
	position: relative;
	height: 350px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
	background-size: cover;
}
#collection #logo h1 {
	margin: 0;
}
#collection #logo a {
	position: absolute;
	text-indent: -999em;
	overflow: hidden;
	z-index: 2;
}
#collection .group {
	position: relative;	
	margin: 0 auto;
	padding: 0;
	max-width: 320px;
}
#collection .group ul {
	padding: 0;
	margin: 0;
	font-size: 0;
	list-style: none;
}
#collection .group ul li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	background-image: url(../img/product-grad.png);
	background-position: center;
	background-size: 100%;	
}
#collection .group ul li img {
	-webkit-transform: translateY(-12%);
	   -moz-transform: translateY(-12%);
	    -ms-transform: translateY(-12%);
	     -o-transform: translateY(-12%);
	        transform: translateY(-12%);
}
#collection .group ul li.spacer {
	display: none;	
}
#collection .group ul li.spacer img {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}
#collection .group ul li .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/transparent-logo-mobile.png) center no-repeat;
	background-size: auto 100%;
}
#collection .group li .rollover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 0px solid #fff;
	background-color: rgba(243,243,243,0.78);
	visibility: hidden;
}
#collection .group li:hover .rollover {
	visibility: visible;
}
#collection .group li .rollover .title,
#collection .group li .rollover .subTitle {
	font-weight: 400;
	line-height: 24px;
	color: #000;
	margin: 0;
}
#collection .group li .rollover .title {
	font-size: 23px;	
	letter-spacing: 0.05em;	
	text-transform: lowercase;	
}
#collection .group li .rollover .title a,
#collection .group li .rollover .subTitle a {
	text-decoration: none;
	color: #000;	
}
#collection .group li .rollover .subTitle {
	font-size: 11px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
#collection .group li .rollover .center {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-table;
}
#collection .group li .rollover .center .cell {
	display: table-cell;
	vertical-align: middle;
}
#collection .group li .rollover .enter {
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
}
#collection .group li .rollover .enter a {
	font-size: 11px;
	line-height: 17px;
	letter-spacing: 0.025em;
	text-decoration: none;
	color: #010101;
}
#collection .group li .rollover .enter a:hover {
	text-decoration: underline;
}
#collection .group li .rollover {		
	visibility: visible;
	background-color: transparent;
}
#collection .group li .rollover .center {
	height: auto;
	bottom: 40px;
	top: auto;
}
#collection .group li .rollover .enter {
	bottom: 20px;
}

@media only screen and (min-width: 480px) {
	
}
@media only screen and (min-width: 768px) {
	#collection {
		padding-top: 80px;
	}
	#collection .group {
		max-width: 100%;
	}
	#collection .group ul li {
		width: 50%;
		// border-bottom: 0px;
	}	
	#collection .group ul li.spacer {
		display: inline-block;
	}
}
@media only screen and (min-width: 1024px) {
	#collection #logo a {
		top: 36%;
		left: 45px;
		width: 85px;
		height: 126px;
		margin-top: -63px;
		background-image: url(../img/logo-desktop-black.png);
		background-size: inherit;
	}
	#collection .group {
		max-width: 680px;
	}
	#collection .group ul li {
		width: 33.33%;
	}
	#collection .group ul li img {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
	}
	#collection .group li .rollover {		
		background-color: rgba(243,243,243,0.78);
		visibility: hidden;
	}
	#collection .group li:hover .rollover {
		visibility: visible;
	}
	#collection .group li .rollover .center {		
		top: 0;
		bottom: auto;
		height: 100%;
	}
	#collection .group ul li.spacer {
		display: none;
	}
}
@media only screen and (min-width: 1025px) {
	#collection .group {
		max-width: 960px;		
	}	
}