/* About page styles */

#static .billboard {
	position: relative;
	height: 350px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
	background-size: cover;
}
#static.find-a-salon .billboard {
	display: none;
}
#static #logo h1 {
	margin: 0;
}
#static #logo a {
	position: absolute;
	text-indent: -999em;
	overflow: hidden;
	z-index: 2;
}
#static .copy {
	padding-top: 48px;
	padding-left: 40px;
	padding-right: 40px;
}
#static .copy .heading {
	margin-top: 0;
	margin-bottom: 32px;
	font-weight: normal;
}
#static.find-a-salon .copy .heading {
	display: none;
}
#static .copy p {
	margin-top: 0;
	margin-bottom: 32px;	
}
#static.find-a-salon .copy p {
	text-align: center;
}
#static .copy p:last-child {
	margin-bottom: 0;
}
#static .copy a {
	color: #231f20;
}
#static.find-a-salon .copy a {
	display: block;
	padding: 25px 30px;
	font-size: 20px;
	line-height: normal;
	letter-spacing: 0.03em;
	color: #fff;
	background-color: #000;
	text-decoration: none;
}
#static.find-a-salon .copy a:hover {
	text-decoration: underline;
}
#static.find-a-salon .copy img {
	display: block;
	padding: 0;
	margin: 0 auto 42px;
	float: none;
	max-width: 170px;
}
@media only screen and (min-width: 480px) {	
	
}
@media only screen and (min-width: 768px) {
	#static .billboard {
		height: 400px;
	}
	#static.find-a-salon .billboard {
		display: block;
	}
	#static #logo a {
		top: 50%;
		left: 45px;
		width: 93px;
		height: 134px;
		margin-top: -67px;
		background-image: url(../img/logo-desktop.png);
		background-size: inherit;
	}
	#static .copy .heading {	
		-webkit-column-span: all;
		-moz-column-span: all;
		column-span: all;
	}	
	#static .copy {
		max-width: 960px;
		margin: 0 auto;		
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 50px; /* Firefox */
	    column-gap: 50px;
	}
	#static.find-a-salon .copy p {
		text-align: left;
	}
	#static.contact .copy {
		max-width: 560px;
		-webkit-column-count: inherit; /* Chrome, Safari, Opera */
	    -moz-column-count: inherit; /* Firefox */
	    column-count: inherit;
	}	
	#static.find-a-salon .copy {
		-webkit-column-count: inherit; /* Chrome, Safari, Opera */
	    -moz-column-count: inherit; /* Firefox */
	    column-count: inherit;	
	}
	#static .copy p:last-child {
		margin-bottom: 32px;
	}
	#static.contact .copy p:last-child,
	#static.find-a-salon .copy p:last-child {
		margin-bottom: 0px;
	}
	#static.find-a-salon .copy img {
		padding-right: 30px;
		margin-right: 30px;
		padding-top: 50px;
		padding-bottom: 50px;
		border-right: 1px solid #000;
		min-width: 250px;
		margin-bottom: 0;
	}
	#static.find-a-salon .copy img.alignleft {
		float: left;
	}
	#static.find-a-salon .copy a {
		display: inline-block;
		padding: 10px 30px;
		font-size: 15px;
		line-height: normal;
		letter-spacing: 0.03em;
		color: #fff;
		background-color: #000;
		text-decoration: none;
	}
	#static.find-a-salon .copy a:hover {
		text-decoration: underline;
	}
}
@media only screen and (min-width: 1024px) {
	#static .billboard {
		height: 543px;
	}
	#static.find-a-salon .billboard {
		display: block;
	}
	#static #logo a {
		top: 50%;
		left: 45px;
		width: 93px;
		height: 134px;
		margin-top: -67px;
		background-image: url(../img/logo-desktop.png);
		background-size: inherit;
	}
	#static .copy .heading {	
		-webkit-column-span: all;
		-moz-column-span: all;
		column-span: all;
	}
	#static .copy {
		max-width: 960px;
		margin: 0 auto;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 50px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 50px; /* Firefox */
	    column-gap: 50px;
	}
	#static.contact .copy {
		max-width: 560px;
		-webkit-column-count: inherit; /* Chrome, Safari, Opera */
	    -moz-column-count: inherit; /* Firefox */
	    column-count: inherit;
	}
	#static.find-a-salon .copy {
		-webkit-column-count: inherit; /* Chrome, Safari, Opera */
	    -moz-column-count: inherit; /* Firefox */
	    column-count: inherit;	
	}
	#static .copy p:last-child {
		margin-bottom: 32px;
	}
	#static.find-a-salon .copy img {
		padding-right: 40px;
		margin-right: 40px;
		padding-top: 30px;
		padding-bottom: 40px;
		border-right: 1px solid #000;
		min-width: 260px;
	}
}