/* Product page styles */

.main_navigation .menu-item a {
	color: #000;
}
.main_navigation .menu-item a:hover {
	border-color: #000;
}

.product {
	padding-top: 0px;
}
.product .container {
	position: relative;
	max-width: 960px;	
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}
.product > .container {
	margin-bottom: 60px;
}
.product > .container.mod {
	margin-bottom: 10px;
}
.product > .container.infoSection {
	margin-bottom: 35px;
}
.product #shades .container {
	max-width: 100%;
}
.product #feature {
	position: relative;
	margin-bottom: 60px;
}
.product #logo h1 {
	margin: 0;
}
.product #logo a {
	position: absolute;
	text-indent: -999em;
	overflow: hidden;
	z-index: 2;
}
.product #feature .hold {
	font-size: 0;
}
.product #feature .image {
	display: none;
	vertical-align: middle;
}
.product #feature .image img {
	display: block;
	margin: 0 auto;
}
.product #feature .productShot {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 0;
}
.product #feature .productShot img {
	display: block;
	margin: 0 auto;
}
.product #feature .productShot .title {
	font-family: 'ITC Lubalin Graph W01 Bd CnObl';
	font-size: 29px;
	line-height: normal;
	font-weight: normal;
	letter-spacing: 0.03em;
	margin: 0;
	margin-top: -10%;
	position: relative;
	z-index: 2;
}
.product #feature .productShot .subTitle {
	font-family: 'DIN Next W01 Regular', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.05em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 5px 0;
	position: relative;
	z-index: 2;
}
.product #feature .productShot .subTitle.mod {
	max-width: 240px;
	margin: 0 auto;
}
.product #feature .productShot .description {
	font-size: 16px;
	line-height: normal;
	font-weight: normal;
	margin: 0;
	position: relative;
	z-index: 2;
}
.product #shades {
	position: relative;
	padding: 40px 0;
	margin-bottom: 60px;
	background-color: #faf9f9;
}
.product #shades .title {
	font-family: 'DIN Next W01 Regular', 'Helvetica Neue Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.05em;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20px;
}
.product #shades ul {
	position: relative;
	margin: 0;
	padding: 0 20%;
	list-style: none;
}
.product #shades ul img {
	width: auto;
	margin: 0 auto;
	display: block;
}
.product #shades .colorName {
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	display: block;
}
.product #shades .commonText {
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}
.product #shades .owl-nav .owl-prev,
.product #shades .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	margin-top: -41px;
	width: 26px;
	height: 82px;
	background-image: url(../img/arrows.png);
	background-repeat: no-repeat;
	text-indent: -999em;
	overflow: hidden;
}
.product #shades .owl-nav .owl-prev {
	left: 0;
	background-position: left center;
}
.product #shades .owl-nav .owl-next {
	right: 0;
	background-position: right center;
}
.product #video {
	text-align: center;
}
.product #video .embed {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.product #video .embed img {
	display: block;
}
.product #video .embed .play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/play-btn.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.product #video .embed .hold {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;
}
.product #video .embed .hold iframe,
.product #video .embed .hold embed,
.product #video .embed .hold object {
	width: 100%;
	height: 100%;
	display: block;
}
.product #dualFeature .image {
	display: none;
}

#details {
	margin-bottom: 50px;
}

.beforeafter {
	max-width: 440px;
	margin: 0 auto 40px auto;
}

.prod_img_before,
.prod_img_after {
	display: inline-block;
	width: 50%;
	margin: 0;
}

.prod_img_before {
	padding-right: 15px;
}

.prod_img_after {
	padding-left: 15px;
}

.prod_img_before img,
.prod_img_after img {
	width: 100%;
	display: block;
}

.whatItDoes {
	text-align: center;
}

.whatItDoes h3 {
	margin-bottom: 0;
	font-size: 16px;
}

.whatItDoes p:first-of-type {
	margin-top: 0;
}

.whatItDoes p:last-of-type {
	margin-bottom: 0;
}

.whatItDoes p {
	font-size: 16px;
	// line-height: 1.5;
}

#accordion {
	text-transform: lowercase;
	margin-bottom: 0px;
}

#accordion h3 {
	// background-color: red;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	line-height: 1;
	padding: 25px 0;
	margin: 0;
}

.btn_salon {
	display: block;
	height: 75px;
	background: #000;
	color: #fff;
	line-height: 75px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
	margin-top: 50px;
}

.btn_salon:hover,
.btn_salon:visited {
	color: #fff;
}

#ingredients_open,
#ingredients_close {
	display: none;
	cursor: pointer;
}

@media only screen and (min-width: 480px) {
	.product #feature .productShot {
		width: 100%;
	}
	.product #logo a {
		margin-top: -67px; 
		background-size: inherit;
		visibility: hidden;
	}

	#accordion p {
		margin: 0;
	}
}

@media only screen and (min-width: 586px) {
	.whatItDoes {
		text-align: left;
	}

	#accordion h3 {
		border: 0;
		text-transform: lowercase;
		background: none;
		padding-bottom: 7px;
	}
}

@media only screen and (min-width: 768px) {
	.product {
		padding-top: 80px;
	}
	.product #feature .image {
		width: 50%;
		display: inline-block;
	}
	.product #feature .productShot {
		width: 50%;
		padding: 0 40px;
	}
	.product #logo a {
		top: 75%;
		left: 10%;
		width: 93px;
		height: 134px;
		background-image: url(../img/logo-desktop.png);
		visibility: visible;
	}
	.product #shades ul {
		padding: 0 5%;
		text-align: center;
	}
	.product #shades ul li {
		display: inline-block;
		vertical-align: top;
		margin: 0 30px;
		max-width: 210px;
		padding-bottom: 5px;
	}

	#details {
		padding-left: 100px;
		padding-right: 100px;
	}

	.btn_salon {
		width: 160px;
		margin: 0 auto 50px auto;
		height: 35px;
		line-height: 35px;
		font-size: 15px;		
	}

	#wrapper_ingredients {
		display: -webkit-inline-flex; /* Safari */
		display: flex;
		-webkit-flex-direction: row; /* Safari */
  		flex-direction: row;
  		-webkit-align-items: center; /* Safari */
		align-items: center;
		margin-top: 25px;
	}

	#details #accordion h3#ingredients_header {
		display: inline-block;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		background-image: url(../img/ingredients_open.png);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 35px;
		padding-top: 10px;
		padding-bottom: 5px;
		cursor: pointer;
	}

	#ingredients_open {
		display: inline-block;
		margin-left: 10px;
	}

	#ingredients_content {
		position: fixed;
		width: 400px;
		background-color: rgba(26, 26, 26, 0.96);
		color: #fff;
		font-size: 13px;
		padding: 50px;
		z-index: 1;
		left: 50%;
		margin-left: -200px;
		margin-top: -100px;
		display: none;
	}

	.show {
		display: block !important;
	}

	#ingredients_close {
		display: block;
		position: absolute;
		top: 16px;
		right: 16px;
	}

	#video {
		margin-bottom: 60px;
	}

	.product #dualFeature .image {
		display: block;
	}

	.product #dualFeature .image img {
		max-width: 100%;	
		margin: 0 auto;
		display: block;
	}

	#details {
		max-width: 960px;
		margin: 0 auto;
	}

}
@media only screen and (min-width: 1024px) {
	.product #logo a {
		top: 75%;
		left: 10%;
		width: 93px;
		height: 134px;
		background-image: url(../img/logo-desktop.png);
		visibility: visible;
	}
	.product #feature .productShot img {
		max-width: 134%;
		-webkit-transform: translateX(-10%);
		-ms-transform: translateX(-10%);
		transform: translateX(-10%);
	}
	.product #shades ul {
		padding: 0;
	}
	.product #shades ul li {
		margin: 0 35px;
	}

	.constrict {
		width: 960px;
		margin: 0 auto;
	}

	#details {
		padding: 0;
		margin-bottom: 0px;

		-webkit-columns: 150px 2;
		-moz-columns: 150px 2;
		columns: 150px 2;
		-webkit-column-gap: 50px;
		-moz-column-gap: 50px;
		column-gap: 50px;
	}

	.whatItDoes div {
		margin-bottom: 25px;
	}

	.beforeafter {
	    width: 200px;
	    margin: 0;
	    float: left;
	    margin-right: 45px;
	}

	.prod_img_before,
	.prod_img_after {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.prod_img_before {
		margin-bottom: 32px;
	}

	#details .whatItDoes h3,
	#details #accordion h3 {
		margin-top: 0;
		padding-top: 0;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	#accordion > div {
		padding-bottom: 25px;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	#wrapper_ingredients {
		margin-top: 0;
	}

	#accordion #ingredients_content {
		top: 50%;
		margin-top: 0;
		transform: translatey(-50%);
		padding-bottom: 50px;
	}

	.btn_salon {
		margin: 0;
	}
}
@media only screen and (min-width: 1025px) {
	.product #logo a {
		top: 50%;
		left: 45px;
		width: 85px;
		height: 126px;
		margin-top: -63px;
		background-image: url(../img/logo-desktop-black.png); 
		background-size: inherit;
	}
}